
<h2>por País</h2>
<hr>

<div class='row'>
    <div class='col'>

        <form (ngSubmit)= 'search()' autocomplete="off">
        <input type='text'
               name='term'
               class='form-control'
               [(ngModel)]= 'term'
               placeholder='Buscar país...'
               />

        </form>
    </div>
</div>

<hr>

<div *ngIf="ifError" 
  class= 'alert alert-danger'> 
  No se encontró nada con la búsqueda {{term}}
</div>

<div *ngIf='!ifError' class='row'>
    <div class='col'>
        <table class= 'table table-hover'>
            <thead>
                <tr>
                    <th> #  </th>
                    <th>  Bandera </th>
                    <th> Nombre  </th>
                    <th> Población  </th>
                    <th>  Más info </th>
                </tr>
            </thead>
 
            <tbody>
               <tr>
                   <td>1</td>
                   <td>bandera</td>
                   <td>nombre</td>
                   <td>948984</td>
                   <td>
                       <a href='./pais/cri>'ver....></a>
                   </td>
               </tr>
            </tbody>
          </table>
 
 
    </div>
 </div>
 