

<h3>Region</h3>
<hr>

<h5> Select the region: <small>{{regionActive}} </small></h5>

<div class='row'>
  <div class='col'>
  <button *ngFor="let region of regions"
          class='btn btn-outline-primary btn'
          [ngClass]="{
             'btn-2': regionActive === region
         }"

          (click)= 'activeRegion( region )' > 
          {{region}}
  </button>
  </div>

</div>

<div *ngIf="countries.length>0 " class='row'>
  <div class='col'>
      
    <app-country-table [countries]= 'countries'></app-country-table>

  </div>
</div>


